
.Card-Container {
  display: flex;
  justify-content: space-around;
}

.icons {
  width: 50px;
  height: 50px;
}

.social-icons {
  width: 20px;
  height: 20px;
}

.Home-img-size {
  width: 900px;
  height: 900px;
}
.margin-form-2-green{
    background-color: #65B897;
    margin-top: 160px;
    margin-right: 10px;
}
.margin-form-1{
    
  margin-top: 30px;
  margin-bottom: 100px;
  
}
.give-height{
  height: 90px;
}

#Back-Ground-Circle-1 {
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-top:100px;
  width: 400px;
  height: 400px;
  background: #EABDC2;
  
}
#Back-Ground-Circle-2 {
  border-radius: 50%;
  display: inline-block;
  margin-right: 100px;
  margin-top: 60px;
  width: 200px;
  height: 200px;
  background: #EABDC2;
}

#Back-Ground-Circle-3 {
  border-radius: 50%;
  margin-left: 1000px;
  margin-top:0px;
  width: 300px;
  height: 300px;
  background: #DD979F;
}
#Back-Ground-Circle-4{
  border-radius: 50%;
  display: inline-block;
  margin-left: 900px;
  margin-top:0px;
  width: 100px;
  height: 100px;
  background: #F0D1D4;
}
