.Card-Container {
  display: flex;
  justify-content: space-around;
}

.icons {
  width: 50px;
  height: 50px;
}

.social-icons {
  width: 20px;
  height: 20px;
}

.Home-img-size {
  width: 900px;
  height: 900px;
}
.dark-green-background{
  background-color:#65B897;
}
.light-green-background{
  background-color: #A5CDBD;
}
.margin{
  margin-top: 100px;
  margin-left: 20px;
}